* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #343434;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}
.message-Span {
  font-size: 12px;
  padding-left: 2px;
  margin-top: 2px;
}
#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: rgb(22, 119, 255);
}

#other .message-meta {
  justify-content: flex-end;

}
.scrollable-container {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #aaa #eee;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 4px;
}
